*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%; /* 1rem = 10px */
}
body{
    background:var(--light-beige);
    list-style: none;
    text-decoration: none                                                                                                       ;
}
:root{
    --red-main:#C50C29;
    --light-beige:#FAF8F7;
    --black:#201E1C;
    --light-black:#282623;
    --gray-footer:#383633;
    --menuBackground:#2b2d42;
}
/*
font-family: 'DM Sans', sans-serif;  Contenido general.
font-family: 'Roboto', sans-serif;   Titulos.
*/

/*  Header style. */
header nav ul{
    list-style: none;
}
header nav ul a{
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}
header{
    width: 100%;
    position:fixed;
    z-index: 1;
}
nav{
    width: 100%;
    height: 8rem;
    background: var(--red-main);
}
nav img{
    position: absolute;
    top:1.4rem;
    left: 5%;
}
nav h1{
    color:var(--light-beige);
    display: inline;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top:3rem;
    left:13%;
    margin-inline-start: 2rem;
}
nav ul{
    float: right;
    margin-inline-end: 2rem;
}
nav ul li{
    display: inline-block;
    margin: 0 1.2rem;
}
nav ul li a{
    display: block;
    position: relative;
    color:var(--light-beige);
    font-size: 1.8rem;
    padding-block-start:2.8rem;
}
nav ul li a:before{
    width: 100%;
    background: var(--light-beige);
    position: absolute;
    content: '';
    left:0;
    bottom: 0;
    height: 0.2rem;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
label #btn, label #cancel{
    color:white;
    font-size: 3rem;
    float: right;
    line-height: 8rem;
    margin-inline-end: 4rem;
    cursor:pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:750px){
    .check{
        display: block;
    }
    label #btn{
        display: inline;
    }
    nav ul{
        position: fixed;
        width: 70%;
        height: 100vh;
        z-index: 1;
        background: var(--menuBackground);
        top:8rem;
        left:-100%;
        text-align: center;
    }
    nav ul li{
        display: block;
        margin:2rem
    }
    nav img{
        left:8%;
    }
    nav h1{
        left:25%;
    }
    nav ul li a{
        font-size: 2rem;
    }
    #check:checked ~ ul{
        left:0;
        z-index: 1;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
}
/* Styles section 1 */
.section1{
    width:100%;
    height: 100vh;
    overflow: hidden;
    background: var(--light-beige); 
}
.section1 .section1-title{
    width: 90%;
    height: 20%;
    margin: 0 auto;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 8rem;
}
.section1 .section1-title h2{
    text-align: center;
}
.section1 .section1-containerImages{
    width:21.4rem;
    margin: 0 auto;
    perspective: 1000px;
    position: relative;
    padding-block-start: 2rem;
}
.section1 .section1-containerImages .container-images{
    width: 100%;
    height: 25rem;
    position: absolute;
    animation: rotate 28s infinite linear;
    transform-style: preserve-3d;
}
.section1 .section1-containerImages .container-images:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.section1 .container-images figure{
    width:100%;
    height: 25rem;
    border-radius: 2rem;
    margin-inline: 1rem;
    position: absolute;
    box-shadow: 0px 0px 10px 0px black;
}
.section1 .container-images figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transform: all 1s;
}
.container-images figure:nth-child(1){
    transform: rotateY(0deg) translateZ(300px);
}
.container-images figure:nth-child(2){
    transform: rotateY(45deg) translateZ(300px);
}
.container-images figure:nth-child(3){
    transform: rotateY(90deg) translateZ(300px);
}
.container-images figure:nth-child(4){
    transform: rotateY(135deg) translateZ(300px);
}
.container-images figure:nth-child(5){
    transform: rotateY(180deg) translateZ(300px);
}
.container-images figure:nth-child(6){
    transform: rotateY(225deg) translateZ(300px);
}
.container-images figure:nth-child(7){
    transform: rotateY(270deg) translateZ(300px);
}
.container-images figure:nth-child(8){
    transform: rotateY(315deg) translateZ(100px);
}
.container-images figure:nth-child(9){
    transform: rotateY(360deg) translateZ(300px);
}
.section1 .container-images img{
    width:100%;
    height: 25rem;
    border-radius: 2rem;
    background-repeat: no-repeat;
}
.container-images img:hover{
    transform: scale(1.2);
}
@keyframes rotate{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

/* Styles section 2. */
.section2{
    background: var(--black);
    display: flex;
    flex-direction: column;
    height: 80rem;
    justify-content:space-evenly;
    align-items: center;
    color: var(--light-beige);
    font-family: 'Roboto', sans-serif; 
}

.section2-educationL_title{
    padding-bottom: 5px;
}
.section2 > div {
    background: var(--light-black);
    border-radius: 2rem;
    width: 15rem;
    height: 23rem;
    box-shadow: 0 .5rem 1.6rem .5rem rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
    font-size: 1.6rem;
}

#section2-educationL{
    height: 27rem;
}

.section2-educationL_title, .section2-emphasis_title{
    text-align: center;
}
.section2-educationL_list{
    padding-left: 1.5rem;
}
.section2-values_list{
    padding-left: 2.7rem;
    font-family: 'DM Sans', sans-serif; ;
}


.section2-educationL_list{
    font-family: 'DM Sans', sans-serif; ;
}
.section2-emphasis_man{
    padding: 2rem;
}

/* Styles section 3. */
.section3{
    font-size: 1.6rem;
    background: var(--light-beige);
    background: #f9f7f6;
    padding: 20px;
    font-family: 'Roboto', sans-serif; 

}
.section3-text{
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1.6rem .1rem rgba(0, 0, 0, 0.25);
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section3-text_title{
    background: var(--red-main);
    border-radius: .5rem;
    font-size: 1.7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
    max-width: 26rem;
    height: 2.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: 0 .4rem .8rem .1rem  rgba(0, 0, 0, 0.25);
    color: var(--light-beige);
}
.section3-text_img{
    background: #C4C4C4;
    margin: 2rem 0;
    width: 21rem;
    height: 16rem;
}
.section3-text_p{
    font-family: 'DM Sans', sans-serif; ;
}

/* Styles section 4. */
.section4{
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    background: var(--black);
    padding: 2rem;
}
.section4-title{
    background: var(--red-main);
    width:75%;
    padding-inline:1rem;
    height: 2.5rem;
    max-width: 26rem;
    border-radius: .5rem;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:var(--light-beige);
    font-family:'Roboto', sans-serif ;
    font-size: 1.4rem;
}
.section4-content{
    height: auto;
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
    border-radius: 1rem;
    background: var(--light-black);
    box-shadow: 0 .5rem 1.6rem .1rem rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    margin-block-start: 2rem;
    padding: 2rem;
    color:var(--light-beige);
    line-height: 2.8rem;
}
.section4-content ul{
    padding-inline-start: 4rem;
    padding-block-end: 2rem;
}
.section4-container-image{
    width:100%;
    display: flex;
    justify-content: center;
}
.section4-content img{
    width: 80%;
}

/* Styles pre_footer */
.pre_footer{
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif; ;
    font-style: italic;
    background:#dedede;
    padding: 2rem;
    text-align: center;
}

/* Styles footer. */
.footer{
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif; ;
    background-color: var(--black);
    color: var(--light-beige);
    display: flex;
    flex-direction: column;
    height: 73rem;
    align-content: center;
    justify-content: space-evenly;
}
.footer-container > img {
    filter: drop-shadow(0 4px 16px rgba(0, 0, 0, 0.85));
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-container_p{
    padding-top: 1rem;
    text-align: center;
}
.footer-social{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 23rem;
}
.footer-container_linkmaps{
    font-weight: bold;
    color: var(--light-beige);
}
.footer-container_linkmaps:hover{
    color: var(--red-main);
}
.footer-social_title{
    background: var(--red-main);
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    width: 60%;
    max-width: 26rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 .4px 1rem .3rem rgba(0, 0, 0, 0.25);
}
.footer-social_icons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    filter: drop-shadow(0 4px 16px rgba(0, 0, 0, 0.25));
}
.footer-social_icons > img {
    width: 9rem;
}
.footer-right{
    font-family: 'DM Sans', sans-serif; ;
    font-size: 1.6rem;
    color: var(--light-beige);
    background: var(--gray-footer);
    height: 7.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}