*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%; /* 1rem = 10px */
}
:root{
    --red-main:#C50C29;
    --light-beige:#FAF8F7;
    --black:#201E1C;
    --light-black:#282623;
    --gray-footer:#383633;
}
/*
font-family: 'DM Sans', sans-serif;  Contenido general.
font-family: 'Roboto', sans-serif;   Titulos.
*/

.section2{
    background: var(--black);
    display: flex;
    flex-direction: column;
    height: 80rem;
    justify-content:space-evenly;
    align-items: center;
    color: var(--light-beige);
    font-family: 'Roboto', sans-serif; 
}

.section2 > div {
    background: var(--light-black);
    border-radius: 2rem;
    width: 15rem;
    height: 22rem;
    box-shadow: 0 .5rem 1.6rem .5rem rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
    font-size: 1.6rem;
}

.section2-educationL_title, .section2-emphasis_title{
    text-align: center;
}

.section2-educationL_list{
    padding-left: 1.5rem;
}

.section2-values_list{
    padding-left: 2.7rem;
}
.section2-educationlevels_graduation{
    width: 6.7rem;
    height: 6.1rem;
}

.section2-emphasis_man{
    width: 7.6rem;
    height: 9.9rem;
}

.section2-values_hands{
    width: 8.1rem;
    height: 4.4rem;
}